#root {
  /* max-width: 1280px; */
  width: 90vw; 
  text-align: center;
}

#contact {
  /* max-width: 1280px; */
  width: 100vw; 
  
}

@media screen and (max-width: 800px) {
  #root {
 
    width: 100vw; 
    text-align: center;
  }
}

 